<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630020577757-i7vunsencjgpaq2dr3cqq7d8r595tqgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630020577757-i7vunsencjgpaq2dr3cqq7d8r595tqgp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>630020577757-09uncfh0afmkoltsc9f17cafodqed2f2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzO0F3D8l_Lb12GKRMzG4jhe3JPIJfkD8</string>
	<key>GCM_SENDER_ID</key>
	<string>630020577757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wallpaper.app</string>
	<key>PROJECT_ID</key>
	<string>wallpaper-app-65923</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpaper-app-65923.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630020577757:ios:c61b697e20b5c4e90e3e34</string>
</dict>
</plist>